apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: ubuntu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: image.ac.com:5000/k8s/mysql:5.7
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "123456"
#          volumeMounts:
#            - name: mysql-volume
#              mountPath: /var/lib/mysql
#      volumes:
#        - name: mysql-volume
#          persistentVolumeClaim:
#            claimName: mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: ubuntu
spec:
  selector:
    app: mysql
  type: NodePort
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306